{% extends "base.html" %}

{% block title %}
  {{ interview.title }}
{% endblock %}

{% block content %}
  <div class="text-center mt-5">
    <h3>شما در حال خواندن مصاحبه {{ interview.user.username }} هستید.</h3>
  </div>
  <div class="container p-3 m-3">
    <div class="row">
      <h4>خودت‌و معرفی کن؛ کی هستی و چیکار میکنی؟</h4>
      <p class="lead">{{ interview.about|safe }}</p>
    </div>
    <div class="row">
      <h4>چه کارهایی تا الان انجام دادی؟ الان مشغول چه کاری هستی؟</h4>
      <p class="lead">{{ interview.job|safe }}</p>
    </div>
    <div class="row">
      <h4>در روز از چه سخت‌افزارهایی استفاده می‌کنی؟</h4>
      <p class="lead">{{ interview.gadget|safe }}</p>
    </div>
    <div class="row">
      <h4>نرم‌افزارهایی که باهاشون مدام در ارتباطی کدوم‌ها هستن؟</h4>
      <p class="lead">{{ interview.software|safe }}</p>
    </div>
    <div class="row">
      <h4>کتاب فیلم موسیقی هر چیز دیگه، حرف آخر؟!</h4>
      <p class="lead">{{ interview.art|safe }}</p>
    </div>
    <div class="d-grid gap-2">
      <a href="{% url 'home:index'%}" class="btn btn-outline-primary">صفحه اصلی</a>
    </div>
  </div>
{% endblock %}