{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
ورود به حساب کاربری
{% endblock %}


{% block content %}
    <div class="card mt-5">
      <h5 class="card-header text-center">ورود به حساب</h5>
      <div class="card-body">
        <h5 class="card-title">خوشحالیم که دوباره می‌بینیمت &#128525;</h5>
        <form class="mt-4" action="" method="post">
            {% csrf_token %}
            <div class="row mx-auto">
                <div class="col-sm-6">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
               <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert">
                        حساب کاربری ندارم :( <a class="alert-link" href="{% url 'authnz:signup' %}">یکی می‌سازم!</a>
                    </div>
               </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">ورود</button>
            </div>
        </form>
      </div>
    </div>
{% endblock %}