{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  ویرایش مصاحبه
{% endblock %}

{% block content %}
    <h3 class="mt-5 text-center">مصاحبه فعلیت هست، اگه می‌خوای ویرایشش کن.</h3>
    <div class="m-3 p-3">
        <form class="mt-5" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">ویرایش مصاحبه</button>
        </div>
    </form>
    </div>
{% endblock %}
